$primaryColor: #ff8578;

$textColor: #9c9c9c;
$strongColor: #353535;
$borderColor: #E5E5E5;

$tinySpace: 4px;
$smallSpace: 8px;
$mediumSpace: 12px;
$defaultSpace: 16px;
$largeSpace: 24px;

$headerSize: 48px;
$headerSizeLarge: 64px;
