<div id="us-background-overlay"></div>

<div id="us-content" class="fullwidth">
    <h2 class="cursive">On se marie !</h2>

    <div id="us-card-container">

        <div id="us-card-ophelie" class="card">
            <div class="card-header flex">
                <div class="card-name flex-grow">
                    <div class="cursive colored">Ophélie</div>
                    <div>Laup</div>
                </div>

                <div class="card-avatar"></div>
            </div>
            <p>
                Jimmy et moi allons nous marier à la Réunion ! Nous vous invitons à célébrer notre union et à partager notre amour grâce à ce petit site de mariage. Laissez-nous un message et
                n'oubliez
                de répondre à votre invitation. Bisous.
            </p>
        </div>

        <img src="assets/images/heart.png">

        <div id="us-card-jimmy" class="card">
            <div class="card-header flex">
                <div class="card-avatar"></div>

                <div class="card-name flex-grow">
                    <div class="cursive colored">Jimmy</div>
                    <div>Robert</div>
                </div>
            </div>
            <p>
                Après plus de dix ans de vie commune, Ophélie m'a dit oui. Je suis donc heureux de vous annoncer notre union qui aura lieu en octobre 2018 sous le soleil réunionnais auprès de nos
                amis et de notre famille.
            </p>
        </div>

    </div>
</div>
