@import "vars";
@import "mixins";

:host {
    position: relative;
    z-index: 10;

    background: url("/assets/images/header.jpg") no-repeat;
    background-size: cover;

    background-position-y: top;
    background-position-x: -450px;

    @include min-width(580px) {
        background-position-y: center;
        background-position-x: center;
    }
}

#us-content {
    position: relative;
}

#us-card-container {
    display: block;
    position: relative;

    @include min-width(580px) {
        display: flex;
        justify-content: center;
        transform: translateY(24px);
    }

    > img {
        width: 72px;

        position: static;
        float: left;
        transform: translate(40vw, -50%);

        @include min-width(580px) {
            position: absolute;
            top: 120px;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

}

#us-card-jimmy .card-avatar {
    background-image: url("/assets/images/jimmy.jpg");
}

#us-card-ophelie .card-avatar {
    background-image: url("/assets/images/ophelie.jpg");
}

#us-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(53, 53, 53, 0.3);
}

h2 {
    margin: 120px 16px;
    color: white;
    font-size: 44px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    font-weight: 400;

    @include min-width(580px) {
        font-size: 60px;
    }
}

.card {
    background-color: white;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: $defaultSpace;
    margin: $defaultSpace;

    @include min-width(580px) {
        width: 100%;
        max-width: 320px;
    }

    p {
        margin: $defaultSpace 0;
    }
}

.card-name {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}

.card-header > div {
    align-self: center;
}

.card-name .cursive {
    font-size: 24px;
    font-weight: 400;
    margin: 4px 0;
}

.card-avatar {
    width: 76px;
    height: 76px;
    border-radius: 38px;
    background: no-repeat center;
    background-size: cover;

    box-shadow: 0 0 0 4px white,
    0 0 0 5px $borderColor;
}
