<h2>Notre histoire</h2>

<div id="story-rows">

    <div id="story-line"></div>

    <div *ngFor="let story of stories" class="story-row fullwidth">

        <div class="story-picture">

            <div class="story-date">
                <p class="story-date-year cursive">{{story.year}}</p>
                <p class="story-date-month">{{story.month}}</p>
            </div>

        </div>

        <div class="story-text">
            <h3 class="story-title cursive">{{story.title}}</h3>
            <p class="story-content">{{story.content}}</p>
        </div>

    </div>

</div>
