<h2>Les témoins</h2>

<div id="witnesses" class="fullwidth flex">

    <div *ngFor="let witness of witnesses" class="witness">

        <div class="witness-picture-container">
            <div class="witness-picture" [style.background-image]="sanitize(witness.picture)"></div>
        </div>

        <div class="witness-name flex-grow">
            <div class="witness-first-name cursive colored">{{witness.firstName}}</div>
            <div class="witness-last-name">{{witness.lastName}}</div>
        </div>

    </div>

</div>
