<h2>Vendredi 12 <span class="colored">Octobre</span> 2018</h2>

<div id="wedding-day-countdown" class="flex fullwidth">
    <div class="countdown-part flex-grow">
        <div class="countdown-value">{{daysValue}}</div>
        <div class="countdown-unit">JOURS</div>
    </div>
    <div class="countdown-part flex-grow">
        <div class="countdown-value">{{hoursValue}}</div>
        <div class="countdown-unit">HEURES</div>
    </div>
    <div class="countdown-part flex-grow">
        <div class="countdown-value">{{minutesValue}}</div>
        <div class="countdown-unit">MINUTES</div>
    </div>
    <div class="countdown-part flex-grow">
        <div class="countdown-value">{{secondsValue}}</div>
        <div class="countdown-unit">SECONDES</div>
    </div>
</div>
