@import "vars";
@import "mixins";

.gallery {
    margin: auto;
    height: 0;
    overflow: hidden;
    padding: 0 $defaultSpace;
}

#gallery-linear {
    width: 100%;
    height: auto;

    @include min-width(360px) {
        height: 0;
    }

    .photo-container {
        float: none;
        margin-top: $tinySpace;
    }

    .image-thumb {
        width: 100%;
        height: auto;
        display: block;
    }
}

#gallery-tiny {
    width: 360px;

    @include min-width(360px) {
        height: auto;
    }

    @include min-width(480px) {
        height: 0;
    }
}

#gallery-small {
    width: 480px;

    @include min-width(480px) {
        height: auto;
    }

    @include min-width(780px) {
        height: 0;
    }
}

#gallery-medium {
    width: 750px;

    @include min-width(750px) {
        height: auto;
    }

    @include min-width(980px) {
        height: 0;
    }
}

#gallery-large {
    width: 980px;

    @include min-width(980px) {
        height: auto;
    }
}

:host /deep/ .image-thumb {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 0.25s;

    &:hover {
        transform: scale(1.1, 1.1);
    }
}
