<div *ngIf="!authenticated">
    <form #form="ngForm" (ngSubmit)="onConnect(form)" class="fullwidth">
        <input placeholder="Identifiant" name="login" ngModel required/>
        <input placeholder="Mot de passe" name="password" ngModel required>
        <p>
            <button #submitButton class="button" type="submit" [disabled]="submitting">{{submitButtonText}}</button>
        </p>
    </form>
</div>
<div *ngIf="!authenticated">
    <form #disconnectForm="ngForm" (ngSubmit)="onDisconnect(disconnectForm)" class="fullwidth">
        <p>
            <button #submitButton class="button" type="submit" [disabled]="submitting">{{submitButtonText}}</button>
        </p>
    </form>
</div>
