<div #navContainer id="nav-container">
    <nav class="flex fullwidth">
        <a *ngFor="let section of sections" routerLink="/home" fragment="{{section.fragment}}" [class.active]="activeTab === section.fragment"
           (click)="onTabClick(section.fragment)" [attr.data-fragment]="section.fragment">{{section.title}}</a>
    </nav>
</div>

<div #sectionsContainer id="home-sections">
    <ng-container *ngFor="let section of sections" [ngComponentOutlet]="section"></ng-container>

    <div id="thanks">
        <h3 class="cursive">Merci !</h3>
    </div>
</div>
