@import "vars";
@import "mixins";

#nav-container {
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: $headerSize;

    @include min-width(480px) {
        margin-top: $headerSizeLarge;
    }

    background-color: white;

    @include shadow;

    overflow-x: scroll;
    overflow-y: hidden
}

$tabSize: 40px;
$tabSizeLarge: 48px;
$tabIndicatorSize: 4px;

#home-sections {
    > /deep/ * {
        display: block;
        border-top: 1px solid #EBEBEB;

        padding: 36px 0;

        @include min-width(580px) {
            padding: 48px 0;
        }

        &::before, &::after {
            display: table;
            content: '';
        }

        &:first-child {
            border-top: none;
            padding: 0;
        }

        &:nth-child(even) {
            background-color: white;
        }

        &:nth-child(odd) {
            background-color: #FCFCFC;
        }

        > h2 {
            text-align: center;
            font-size: 24px;
            color: $strongColor;
            margin-bottom: 48px;
            font-family: Courgette, cursive;

            @include min-width(580px) {
                font-size: 36px;
            }
        }

    }

    margin-top: $tabSize + $tabIndicatorSize;

    @include min-width(480px) {
        margin-top: $tabSizeLarge + $tabIndicatorSize;
    }
}

nav a {
    border-bottom: $tabIndicatorSize solid transparent;
    flex: 1;

    min-width: min-content;

    text-decoration: none;
    white-space: nowrap;

    color: $textColor;
    font-size: 14px;
    padding: 0 $smallSpace;

    text-align: center;
    line-height: $tabSize;

    @include min-width(480px) {
        font-size: 16px;
        line-height: $tabSizeLarge;
    }

    &:hover {
        background-color: #F8F8F8;
    }

    :host-context(.touch) &:hover {
        background-color: transparent;
    }

    -webkit-tap-highlight-color: transparent;

    &.active {
        color: $primaryColor;
        border-color: $primaryColor;
    }
}

#thanks {
    background-image: url("/assets/images/thanks.jpg");
    background-size: cover;
    background-position: center;

    padding: 128px $defaultSpace;
}

#thanks > h3 {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    font-weight: 400;
    font-size: 44px;
    text-align: center;
}
