<h2>Programme de la journée</h2>
<p id="events-description" class="fullwidth">
    Nous avons décidé de nous marier dans l'ouest, à Saint-Gilles. L'église de Roches Noires nous accueillera pour la cérémonie religieuse.
    Nous nous retrouverons ensuite au Golf du Bassin bleu pour les féstivités.
</p>
<div id="events-cards" class="fullwidth">

    <div *ngFor="let event of events" class="event-card">
        <div class="event-picture-container">
            <img src="{{event.picture}}"/>
        </div>
        <h3 class="cursive">{{event.title}}</h3>
        <div class="event-info">
            <p><i class="material-icons">&#xE878;</i> {{event.date}}</p>
            <p><i class="material-icons">&#xE8B5;</i> {{event.time}}</p>
            <p><i class="material-icons">&#xE0C8;</i> {{event.address}}</p>
            <p><a [href]="sanitize(event.mapsLink)" target="_blank">Afficher sur la carte</a>
        </div>
    </div>

</div>
