<h2>Invités</h2>
<p class="fullwidth">
    Merci de <strong>valider votre présence</strong> avant le <strong>1er juin 2018</strong>.
    Si vous ne validez pas votre présence avant cette date votre invitation sera annulée.
</p>
<p class="fullwidth">
    <a class="button" routerLink="/guests/search">Je valide ma présence</a>
</p>
<p class="fullwidth">
    Malheureusement, nous ne pouvons pas inviter tout le monde parce que ça coûterait trop cher et on est limité par la salle pour la soirée.
    Mais on pense quand même à vous : laissez nous un message via le <a routerLink="/home" fragment="guestbook">Livre d'or</a>.
    Gros bisous !
</p>
