<h2>Invités</h2>
<p class="fullwidth">
    Cherchez votre nom pour savoir si vous êtes invité !
    <br>
    Une fois votre nom trouvé vous pourrez répondre à l'invitation
    pour vous et vos proches.
    <br>
    <br>
    Merci de <strong>valider votre présence</strong> avant le <strong>1er juin 2018</strong>.
    <br>
    Si vous ne validez pas votre présence avant cette date votre invitation sera annulée.
</p>
<p class="fullwidth">
    <a class="button" routerLink="/guests/search">Je cherche mon nom et réponds à l'invitation</a>
</p>
<p class="fullwidth">
    Malheureusement, nous ne pouvons pas inviter tout le monde.
    Mais on pense quand même à vous : laissez nous un message via le <a routerLink="/home" fragment="guestbook">Livre d'or</a>.
    Gros bisous !
</p>
