<h2>Invités</h2>
<p class="fullwidth">
    Merci de <strong>valider votre présence</strong> avant le <strong>1er juin 2018</strong>.
    Si vous ne validez pas votre présence avant cette date votre invitation sera annulée.
</p>
<p class="fullwidth">
    <a class="button" routerLink="/guests/search">Je réponds à l'invitation</a>
</p>
<p class="fullwidth">
    Malheureusement, nous ne pouvons évidemment pas inviter tout le monde.
    Mais on pense quand même à vous : laissez nous un message via le <a routerLink="/home" fragment="guestbook">Livre d'or</a>.
    Gros bisous !
</p>
